os/libc.def
main
*.dat
*.corestate
corestate
*.lxt
*.out
toolchain-rv32i/
deps/
.cache/
build/
lua/sram.dat
.ccls-cache/
compile_commands.json
neovim.json
vcd.vcd
vcd.fst
vcd.fst.hier
asm
display.gtkw
os/zig-cache/
zigsim/zig-cache/
zig-cache/
zig-libc
